{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}project1{% endblock title %}</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'departement/css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}" class="navbar-logo">Accueil</a>
            <a href="{% url 'show_all_depts' %}">Départements</a>
            <a href="{% url 'show_all_profs' %}">Professeurs</a>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="footer-container">
            <p>&copy; 2025 DIOP Médoune - Tous droits réservés</p>
        </div>
    </footer>
    <!-- JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
